{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}
    <h3>Dérniere offres d'emploi</h3>
    {{ render(controller(
        'App\\Controller\\JobController::recentJobs', {max: 3}
    )) }}

    <h3>Dérniere formations</h3>
    {{ render(controller(
        'App\\Controller\\TrainingController::recentTrainings', {max: 3}
    )) }}
{% endblock %}
