{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include "menu.html.twig" %}
    <hr>
    <h3>Dérniere offres d'emploi</h3>

    <h3>Dérniere formations</h3>
    
{% endblock %}
