{% extends 'layout.html.twig' %}

{% block title %}New SocialLink{% endblock %}

{% block body %}
    <h1>Create new SocialLink</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                {{ include('cv/_sidebar.html.twig') }}
            </div>
            <div class="col-8">
                {{ include('social_link/_form.html.twig') }}
            </div>
        </div>
    </div>
    
{% endblock %}
