{% extends 'base.html.twig' %}

{% block title %}New SocialLink{% endblock %}

{% block body %}
    <h1>Create new SocialLink</h1>

    {{ include('social_link/_form.html.twig') }}

    <a href="{{ path('social_link_index') }}">back to list</a>
{% endblock %}
