{% extends 'base.html.twig' %}

{% block title %}Edit PprofessionalInterest{% endblock %}

{% block body %}
    <h1>Edit ProfessionalInterest</h1>

    {{ include('professional_interest/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('professional_interest_index') }}">back to list</a>

    {{ include('professional_interest/_delete_form.html.twig') }}
{% endblock %}
