{% extends 'layout.html.twig' %}

{% block title %}New Job{% endblock %}

{% block body %}
    <h1>Nouveau offre d'emploi</h1>

    {{ include('job/_form.html.twig') }}

    {# <a href="{{ path('job_index') }}">back to list</a> #}
{% endblock %}
