{% extends 'base.html.twig' %}

{% block title %}New GeneralInformation{% endblock %}

{% block body %}
    <h1>Create new GeneralInformation</h1>

    {{ include('general_information/_form.html.twig') }}

    {# <a href="{{ path('general_information_index') }}">back to list</a> #}
{% endblock %}
